@model CustomerApp.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}
<div class="panel-heading">
    <form action="ProductsList" method="post">
        <input type="search" name="productName" placeholder="Search..." />
        <input type="submit" value="Search" />
        <input type="submit" value="Show All" />
    </form>
</div>

@foreach(var prd in Model.Products)
{
    @Html.Partial("ProductSummary", prd);
}

@*<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("Product Name", "Sort", new { sortOrder = ViewBag.NameSortParam }) </th>
            <th>@Html.ActionLink("Quantity", "Sort", new { sortOrder = ViewBag.QuantitySortParam })</th>
            <th>@Html.ActionLink("Price", "Sort", new { sortOrder = ViewBag.PriceSortParam })</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prd in Model.Products)
        {
            <tr>
                <td>
                    @Html.ActionLink("Add to Chart", "");
                    @prd.ProductName
                </td>
                <td>
                    @prd.Quantity
                </td>
                <td>
                    @prd.UnitPrice
                </td>
            </tr>
        }
    </tbody>
</table>*@

